<<<<<<< HEAD
footer.sticky-footer {
  padding: 2rem 0;
  flex-shrink: 0;
  .copyright {
    line-height: 1;
    font-size: 0.8rem;
  }
}

body.sidebar-toggled {
  footer.sticky-footer {
    width: 100%;
  }
}
=======
footer.sticky-footer {
  padding: 2rem 0;
  flex-shrink: 0;
  .copyright {
    line-height: 1;
    font-size: 0.8rem;
  }
}

body.sidebar-toggled {
  footer.sticky-footer {
    width: 100%;
  }
}
>>>>>>> 7acc7b40bfadbdb97addbca0d76889ee2eeeba7f
