<<<<<<< HEAD
.rotate-15 {
  transform: rotate(15deg);
}

.rotate-n-15 {
  transform: rotate(-15deg);
}
=======
.rotate-15 {
  transform: rotate(15deg);
}

.rotate-n-15 {
  transform: rotate(-15deg);
}
>>>>>>> 612f709d5ca91aa61f7acaba002247d278c20ee9
