*.jar
*.log
*.lock
*.phar
*.cache
.git-rewrite
.php-cs-fixer.cache
package-lock.json
vendor/
node_modules/
.env
.env.backup
/.vagrant
.phpunit.result.cache
.php_cs.cache
.DS_Store
error_log
.phpintel
/.idea
/.git-ftp-ignore
/.git
/logs
v8-compile-cache-0


