<<<<<<< HEAD
@font-face {
  font-family: 'Akkurat';
  font-style:  normal;
  font-weight: 400;
  src: url("../../fonts/Akkurat.woff2") format("woff2"),
       url("../../fonts/Akkurat.woff") format("woff");
=======
@font-face {
  font-family: 'Akkurat';
  font-style:  normal;
  font-weight: 400;
  src: url("../../fonts/Akkurat.woff2") format("woff2"),
       url("../../fonts/Akkurat.woff") format("woff");
>>>>>>> 612f709d5ca91aa61f7acaba002247d278c20ee9
}