<<<<<<< HEAD
@font-face {
  font-family: 'Akkurat';
  font-style:  normal;
  font-weight: 400;
  src: url("../../fonts/Akkurat.woff2") format("woff2"),
       url("../../fonts/Akkurat.woff") format("woff");
=======
@font-face {
  font-family: 'Akkurat';
  font-style:  normal;
  font-weight: 400;
  src: url("../../fonts/Akkurat.woff2") format("woff2"),
       url("../../fonts/Akkurat.woff") format("woff");
>>>>>>> 7acc7b40bfadbdb97addbca0d76889ee2eeeba7f
}