// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700|Give+You+Glory);


// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//$fa-font-path:  "webfonts/" !default;

//@import "~font-awesome/scss/font-awesome.scss";
//@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import "~@fortawesome/fontawesome-free/scss/fontawesome"; 
@import "~@fortawesome/fontawesome-free/scss/regular"; 
@import "~@fortawesome/fontawesome-free/scss/solid"; 
@import "~@fortawesome/fontawesome-free/scss/brands";

//@import "~@fortawesome/fontawesome-free-webfonts/scss/fontawesome";
//@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-regular";
//@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-solid"

//@import 'node_modules/font-awesome/scss/font-awesome.scss';

@import '~glyphicons-halflings/scss/glyphicons-halflings.scss';

@import '~sweetalert2/src/sweetalert2.scss';

// Magnific PopUp
@import "~magnific-popup/src/css/main.scss";

@import "~flatpickr/dist/flatpickr.min.css";

@import '../css/html5imageupload.css';
@import '../css/html5imageupload_style.css';

@import '../css/sb-admin-2.css';
